<h1><img src="/images/logo.png" srcset="logo@2x.png 2x" alt="{{appName}} logo"></h1>
<p>{{{description}}}</p>
<div id="button">
  <a href="/a" id="start">Start Coding</a>
</div>
<ul id="social-button">
  <li><a href="http://twitter.com/__casto__" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
  <li><a href="https://github.com/hikarock/casto" target="_blank"><i class="fa fa-github fa-lg"></i></a></li>
</ul>
<ol id="line-number"></ol>

