<h1><img src="/images/logo.png" alt="{{appName}} logo"></h1>
<p>Live coding, try on your<br>(Vim|Emacs|Xcode|Sublime Text).</p>
<div class="start">
  <a href="/a" id="start">Start Coding</a>
</div>
<ol id="line-number"></ol>

