<h1>Hello! </h1>

<p class="lead">You are viewing the home/index template.</p>
<p>You can find this template at '<strong>/Users/usr0600161/Dropbox/projects/castory/app/templates/home/index.hbs</strong>'</p>

