<h1><img src="/images/logo.png" srcset="/images/logo@2x.png 2x" alt="{{appName}} logo"></h1>
<div id="description-box"><span id="description"></span></div>
<div id="button">
  <div id="casto-button">
    <a href="/a" id="start">Start Coding</a>
    <a href="#" id="cli"><i class="fa fa-keyboard-o fa-lg"></i> Using CLI</a>
  </div>
  <ul id="social-button">
    <li><a href="http://twitter.com/__casto__" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
    <li><a href="https://github.com/hikarock/casto" target="_blank"><i class="fa fa-github fa-lg"></i></a></li>
  </ul>
</div>
<div id="cli-usage">
  <p>$ npm install -g casto<br>
    $ casto -b hello.js<br><br>
    &gt; <a href="#cli-demo" id="show-cli-demo">DEM<span class="last-letter">0</span></a>
  </p>
</div>
<ol id="line-number"></ol>
<div id="cli-demo">
  <img src="/images/cli-demo.gif">
</div>
<span id="description-text">{{description}}</span>

