<div id="content">
<div id="editor">
    |  |,--.|  |
    `--||  |`--|
       ||  |   |
       ``--'   `
    ,   .     |
    |\  |,---.|---
    | \ ||   ||
    `  `'`---'`---'
    ,---.                   |
    |__. ,---..   .,---.,---|
    |    |   ||   ||   ||   |
    `    `---'`---'`   '`---'
</div>
</div>
