<div id="content">
<div id="editor">
    ---.,--.,--.
    `--.|  |  -|
       ||  |   |
    `--'`--'`--'
    ,---.                o
    `---.,---.,---..    ,.,---.,---.
        ||---'|     \  / ||    |---'
    `---'`---'`      `'  ``---'`---'
    .   .                     o|         |    |
    |   |,---.,---..    ,,---..|    ,---.|---.|    ,---.
    |   ||   |,---| \  / ,---|||    ,---||   ||    |---'
    `---'`   '`---^  `'  `---^``---'`---^`---'`---'`---'
</div>
</div>
