$casto-font       = 'Source Code Pro', Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif
$casto-green       = #4FD093
$casto-green-dark  = #009564
$casto-yellow      = #FCB700
$casto-yellow-dark = #E7A700

*, *:before, *:after
  box-sizing: border-box

body
  background-color: #222
  color: $casto-green
  font-family: $casto-font
