[home-view]
body
  overflow: hidden
  background-color: #222
  color: $casto-green
  font-family: $casto-font

  .home_index_view
    h1
      text-align: center
      margin-top: 100px
      font-weight: 300
      font-size: 12px
    p
      text-align: center
      line-height: 1.8em
      margin-top: 30px
    ul#social-button
      margin: 0
      padding: 50px 0 0 0
      list-style-type: none
      text-align: center
      li
        &:first-child
          margin-right: 15px
        display: inline-block
        a
          color: $casto-green
    div#button
      text-align: center
      font-weight: 300
      margin-top: 50px
      a
        text-decoration: none
        border: 1px solid $casto-green
        color: $casto-green
        padding: 10px 15px 10px 15px
        border-radius: 4px
        &:hover
          background-color: $casto-green
          color: #222
    ol#line-number
      overflow: hidden
      margin: 0
      padding-top: 0
      padding-left: 4px
      padding-right: 12px
      position: absolute
      left: 0
      top: 0
      font-weight: 300
      font-size: 14px
      background-color: #272727
      color: #666
      font-family: $casto-font
      counter-reset: item
      list-style-type: none
      li
        display: block
        text-align: right
      li:before
        content: counter(item) "  "
        counter-increment: item
        height: 18px
