@import 'vendor/bootstrap.min.css'
@import 'base_view'

body
  background-color: whitesmoke
  padding-top: 0

  &.loading
    .loading-indicator
      display: block

.loading-indicator
  display: none
  float: right
  color: white
  line-height: 40px

#drop
  background-color: #fbd436
  width: 100%
  height: 40px
#drop.over
  background-color: #ffea0c

#editor
  background-color: #222
  color: #ccc
  border: 0
  width: 100%
  height: 700px
  padding: 0
